body{
    background: #060606;
}
a{
    text-decoration: none;
}
ul{
    padding: 0;
    margin: 0;
}
/* BEGIN HEADER */
.navbar{
    position: fixed;
    top:0;
    z-index: 9999;
    width: 100%;
    background: #060606;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 180px;
}
.navbar .nav-menus{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.navbar .nav-menus .logo{
    width: 22%;
}
.nav-menus .company-title{
    font-weight: 200;
    font-size: 20px;
    letter-spacing: 0.1em;
    background: linear-gradient(270deg, #40D8AB 0%, #35A8E1 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    margin: 0;
}

.nav-menus .menu-links li{
    display: inline;
    list-style-type: none;
    margin-left: 10px;
    margin-right: 10px;
}
.nav-menus .menu-links li a{
    color: #ACACAC;
    letter-spacing: 0.2px;
    font-weight: 400;
    font-size: 16px;
}
.nav-menus .menu-links .active{
    color: #77CFB5;
}

.nav-menus .price-box{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.nav-menus .price-box .icon{
    width: 25%;
}
.nav-menus .price-box .value{
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    color: #ACACAC;
}

.nav-menus .launch-box .link{
    padding: 6px 14px 9px 14px;
    background: #130F0F;
    box-shadow: 0px 0px 14px 0px #0ff;
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
}
/* END HEADER */

.main-content{
    margin-left: 50px;
    margin-right: 50px;
}


/* BEGIN HERO SECTION */
.hero-section{
    margin-top: 52px;
}
.hero-section .banner-img{
    width: 100%;
    opacity: 0.5;
}
/* hero-banner.png */
/* END HERO SECTION */



/* BEGIN FOOTER */
.footer{
    background-image: url("../images/footer-background-img.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.footer .content{
    padding: 35px 0px;
}
.footer .content .column .title{
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
    color: #FFFFFF;
}
.footer .content .column .list{
    list-style-type: none;
}
.footer .content .column .list li a{
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    opacity: 0.5;
}
.footer .content .subscribe-box .subscribe-email {
    display: flex;
    /* flex-direction: row; */
}
.footer .content .subscribe-box .subscribe-email input{
    background: #060606;
    border: 1px solid #FFFFFF;
    border-radius: 6px;
    padding: 0px 15px;
    width: 100%;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 14px;
}
.footer .content .subscribe-box .subscribe-email button{
    position: relative;
    margin-left: -50px;
    border: 1px  solid #FFFFFF;
    border-left: none;
    width: 50px;
    height: 50px;
    background: linear-gradient(270deg, #40D8AB 0%, #35A8E1 100%);
    border-radius: 0px 6px 6px 0px;
}
.footer .content .subscribe-box .subscribe-email button::after{
    content: '';
    position: absolute;
    top: 20px;
    right: 20px;
    width: 10px;
    height: 10px;
    border: 2px solid #FFFFFF;
    border-left: none;
    border-bottom: none;
    transform: rotate(45deg);
}
.footer .content .subscribe-box .subscribe-info{
    margin-top: 25px;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #FFFFFF;
}
.footer-bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.footer-bottom .donation-box p{
    margin: 0;
    color: #FFFFFF;
}
.social-list{
    list-style-type: none;
}
.social-list li{
    display: inline;
}
/* END FOOTER */